.root {
    padding: 6px 12px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 4px;
    border: 1.5px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
}

.buttons {
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    button:not(:first-child) svg {
        transform: rotate(-180deg);
    }
}
