.root {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
    padding: 30px 60px 30px 40px;
    gap: 250px;

    @media (max-width: 1024px) {
        gap: 130px;
    }

    @media (max-width: 568px) {
        gap: 100px;
        padding: 20px;
    }

    @media (max-width: 468px) {
        gap: 30px;
    }
}

.order {
    width: 50%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    position: relative;
}

.deleteIcon {
    position: absolute;
    top: 2px;
    left: 0;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.box {
    @media (max-width: 768px) {
        gap: 10px;
    }

    @media (max-width: 768px) {
        flex-wrap: wrap;
    }
}

.price {
    width: 60px;
}

.block {
    width: 50%;
    gap: 60px;

    @media (max-width: 1024px) {
        width: 35%;
    }
}

.order {
    position: relative;
}

.deleteIcon {
    position: absolute;
    top: 2px;
    left: 0;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}
