.bg {
    background: black;
}

.content {
    // min-height: 50px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-left: 280px;
    padding-block: 12px;
    color: white;

    @media (max-width: 1024px) {
        padding-left: 0;
    }
}

.message {
    display: flex;
    align-items: center;
    gap: 8px;
    &_text {
        font-size: 0.875rem;
        line-height: 150%;
    }

    @media (max-width: 600px) {
        display: none;
    }
}

.link {
    font-size: 0.875rem;
    line-height: 170%;
    text-decoration-line: underline;
    color: white;
}

.flex {
    display: flex;
    align-items: center;
    gap: 30px;

    @media (max-width: 600px) {
        width: 100%;
        justify-content: space-between;
    }
}

.burger {
    display: none;

    @media (max-width: 968px) {
        display: block;
    }
}
