.list {
    padding-top: 40px;
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
}

.item {
    display: flex;
    align-items: center;
    gap: 50px;
}

.link {
    color: black;
    font-size: 1rem;
    line-height: 150%;
}