.root {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 10px solid #cccccc;

    > div {
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background-color: black;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}
