.buttons {
    display: flex;
    align-items: center;
    gap: 16px;

    button {
        display: flex;
        align-items: flex-end;
        background-color: transparent;
        cursor: pointer;
    }
}