.section {
    padding-block: 80px;

    @media (max-width: 768px) {
        padding-block: 30px;
    }
}

.root {
    gap: 40px;

    @media (max-width: 568px) {
        gap: 30px;
    }
}

.block {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;

    @media (max-width: 968px) {
        grid-template-columns: 1fr;
    }

    button,
    div {
        @media (max-width: 468px) {
            max-width: 100%;
            width: 100%;
        }
    }
}

.buttons {
    gap: 30px;

    button,
    a {
        @media (max-width: 468px) {
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .coupon {
        flex-wrap: wrap;
    }

    .buttons {
        flex-wrap: wrap;
        gap: 15px;
    }
}

.updateButton {
    max-width: 200px;
    width: 100%;

    @media (max-width: 468px) {
        max-width: 100%;
    }
}
