.root {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    flex-shrink: 0;

    background-color: var(--accentColor);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    color: white;
}