.root {
    display: inline-flex;
    padding: 16px 48px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

    font-weight: 500;
    cursor: pointer;
    transition: var(--main-transition);

    @media (max-width: 768px) {
        padding: 8px 48px;
    }

    &:active {
        transform: translateY(1px);
    }
}

.default {
    background: var(--accentColor);
    color: #fafafa;

    &:hover {
        background: var(--button-hover);
    }
}

.transparent {
    background-color: transparent;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.5);
}