.root {
    display: flex;
    align-items: flex-start;
    gap: 6px;

    a {
        color: white;
        font-weight: 500;
        line-height: 150%;
    }
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.white path {
    stroke: white;

}