.root {
    width: 240px;
    background-color: var(--accentColor);
    padding: 20px;
    border-radius: 4px;

    ul > li > * svg {
        flex-shrink: 0;
    }

    ul > li > a,
    button {
        display: inline-flex;
        align-items: center;
        gap: 15px;
        padding: 5px;

        color: #fafafa;
        font-size: 0.875rem;
        cursor: pointer;
    }

    ul > li svg {
        width: 24px;
        height: 24px;
    }
}

.root .user {
    width: 28px;
    height: 28px;
    transform: translateX(-2px);
    path {
        stroke: white;
        stroke-width: 2px;
    }
}
