.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.left {
    width: 57%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }
}

@media (max-width: 580px) {
    .search {
        display: none;
    }
}
