.buttons {
    display: inline-flex;
    align-items: center;
    gap: 16px;

    button {
        width: 34px;
        height: 34px;
        display: flex;
        align-items: flex-end;
        background-color: transparent;
        cursor: pointer;

        svg {
            height: 100%;
            width: 100%;
        }
    }
}