.root {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: relative;

    > a {
        width: 34px;
        height: 34px;
        display: flex;
        align-items: flex-end;
        background-color: transparent;
        cursor: pointer;

        svg {
            height: 100%;
            width: 100%;
        }
    }
}

.white path {
    stroke: white;
}

.root .userBG {
    width: 30px;
    height: 30px;
    background-color: var(--accentColor);
    border-radius: 50%;
    padding: 3px;

    svg path {
        stroke: white;
        stroke-width: 2px;
    }
}

.menu {
    visibility: hidden;
    opacity: 0;

    position: absolute;
    bottom: -270px;
    left: -110px;

    z-index: 100;
    transition: 0.2s ease;

    &.open {
        visibility: visible;
        opacity: 1;
    }
}

.root .cart {
    position: relative;
    width: 32px;
    height: 32px;
}

.quantity {
    position: absolute;
    top: -5px;
    right: 0;
}
