.block {
    padding-bottom: 60px;
}

.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding-bottom: 60px;
}

.button {
    display: flex;
    justify-content: center;
}