.wrapper {
    display: flex;
    align-items: center;
    gap: 8px;

    > span {
        color: #000;
        font-size: 14px;
        font-weight: 600;
        line-height: 150%;
        opacity: 0.5;
    }
}

.rating {
    display: flex;
    align-items: center;
}

.star {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.on .star svg path {
    fill: #ffad33;
    opacity: 1;
}

.off .star svg path {
    fill: black;
}

button {
    background: none;
    border: none;
    outline: none;
}
