.slider {
    position: relative;
}

.buttons {
    display: flex;
    gap: 8px;
    position: absolute;
    z-index: 10;
    top: -70px;
    right: 0;
    > button {
        position: static;
        transform: translateY(0);
    }
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    @media (max-width: 468px) {
        background-color: white;
    }
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.custom {
    border: none;
}
