.wrapper {
    padding-top: 80px;
}

.list {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;

    li:not(:last-child) {
        display: flex;
        align-items: center;
        gap: 12px;

        &::after {
            content: '';
            width: 1px;
            height: 16px;
            background-color: black;
            transform: rotate(30deg);
            opacity: 0.6;
        }
    }
}

.item {
    font-size: 0.875rem;
    opacity: 0.6;
    a {
        color: black;
    }
}

.active {
    opacity: 1;
}