.root {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

.alignCenter {
    align-items: center;
}

.alignStart {
    align-items: flex-start;
}

.justifyCenter {
    justify-content: center;
}

.spaceBetween {
    justify-content: space-between;
}

.justifyEnd {
    justify-content: flex-end;
}