html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    margin-right: calc(-1 * (100vw - 100%));
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--mainBg);
    overflow-x: hidden;
}