.top_header {
    padding-bottom: 40px;
}

.line {
    padding-top: 23px;
}

.hero {
    padding-bottom: 120px;
}

.flashSales {
    padding-bottom: 60px;
}

.categories {
    padding-block: 80px;
}

.bestSellers {
    padding-block: 80px 120px;
}
