.flashSales {
    padding-bottom: 60px;
}

.categories {
    padding-block: 80px;
}

.bestSellers {
    padding-top: 80px;
}

.section {
    padding-bottom: 120px;
}

@media (max-width: 1024px) {
    .section {
        padding-bottom: 100px;
    }

    .hero {
        padding-top: 20px;
    }
}

@media (max-width: 968px) {
    .section {
        padding-bottom: 80px;
    }
}

@media (max-width: 768px) {
    .section {
        padding-bottom: 60px;
    }

    .bestSellers {
        padding-top: 60px;
    }
}