.checkbox {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}

.label {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
}

.customCheckbox {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  flex-shrink: 0;
  position: relative;

  &.checked {
    background-color: var(--accentColor);
    border: none;

    &::after {
      content: '';
      position: absolute;
      top: 45%;
      left: 50%;
      width: 10px;
      height: 5px;
      border: solid white;
      border-width: 0 0 2px 2px;
      transform: translate(-50%, -50%) rotate(-45deg);
      transition: var(--main-transition);
    }
  }
}

.span {
  &:hover {
    color: var(--accentColor);
  }
}
