.label {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.input {
  display: none;

  &:checked + .color {
    transform: scale(1.2);
  }

  &:focus + .color {
    transform: scale(1.2);
  }
}

.color {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
