.item {
    flex-shrink: 0;
}

.radio {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;

    > input {
        appearance: none;
        pointer-events: none;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    &.checked {
        border: 2px solid black;

        input {
            border: 2px solid white;
        }
    }
}
